<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class ="quiz-container">
        <h1>Role Play Quiz</h1>
        <div id = "quiz-box"></div>
        <button id="next-btn">NEXT</button>
        <p id="score"  class="hidden" ></p>
    </div>
    <script src="roleplay.js"></script>
</body>
</html>l